@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e4eff0;
  --foreground: #272727;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272727;
    --foreground: #e4eff0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.filled {
  @apply bg-yellow-100 border-2 border-transparent rounded-full text-black transition duration-200 hover:text-white hover:border-2 hover:border-yellow-100 hover:bg-transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .title-16 {
    @apply text-base leading-[120%] font-semibold tracking-normal;
  }
}
